h1{
    color: purple;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px solid;
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    
}

h4{
    color:darkslateblue;
    font-family: cursive;
}

h3{
    color: darkcyan;
    font-family: cursive;
}

img{
    align-items: center;
    float: right;
    display: inline-block;
    padding: 5px;
    border: 2px solid;
    max-width: 25%;
    max-height: 25%;
}

body{
    background-color: thistle;
}

button{
    color: pink;
    background-color: black;
}


